interactions:
- request:
    body: '{"metricId": "metric_id", "startTime": "2021-06-01T00:00:00.000Z", "endTime":
      "2021-06-03T00:00:00.000Z", "timeMode": "FeedbackCreatedTime"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/query
  response:
    body:
      string: '{"value":[{"feedbackId":"f57a3c64-caee-404c-a050-254e12dc7328","createdTime":"2021-06-02T22:19:38.976Z","userPrincipal":"f850650c-1fcf-4489-b46f-71af2e30d360","metricId":"metric_id","dimensionFilter":{"dimension":{"dimension_name":"Miami","category":"Health
        & Personal Care"}},"feedbackType":"Anomaly","startTime":"2020-01-01T00:00:00Z","endTime":"2020-10-22T00:00:00Z","value":{"anomalyValue":"NotAnomaly"}},{"feedbackId":"c14eba4b-2001-47fa-a3aa-9da6b45c1b9c","createdTime":"2021-06-02T22:19:45.164Z","userPrincipal":"f850650c-1fcf-4489-b46f-71af2e30d360","metricId":"metric_id","dimensionFilter":{"dimension":{"dimension_name":"Miami","category":"Health
        & Personal Care"}},"feedbackType":"Period","value":{"periodType":"AutoDetect","periodValue":3}},{"feedbackId":"38e69839-fd6e-48a3-841d-e9fd3790939c","createdTime":"2021-06-02T22:19:39.524Z","userPrincipal":"f850650c-1fcf-4489-b46f-71af2e30d360","metricId":"metric_id","dimensionFilter":{"dimension":{"dimension_name":"Miami","category":"Health
        & Personal Care"}},"feedbackType":"Comment","startTime":"2020-01-01T00:00:00Z","endTime":"2020-10-22T00:00:00Z","value":{"commentValue":"Not
        an anomaly."}},{"feedbackId":"3cab704c-2347-440e-9201-c93ff1ff67af","createdTime":"2021-06-02T22:19:38.14Z","userPrincipal":"f850650c-1fcf-4489-b46f-71af2e30d360","metricId":"metric_id","dimensionFilter":{"dimension":{"dimension_name":"Miami","category":"Health
        & Personal Care"}},"feedbackType":"Comment","startTime":"2020-01-01T00:00:00Z","endTime":"2020-10-22T00:00:00Z","value":{"commentValue":"Not
        an anomaly."}},{"feedbackId":"df423002-3755-4b70-a934-61b31725a328",[...]
- request:
    body: '{"metricId": "metric_id", "startTime": "2021-06-01T00:00:00.000Z", "endTime":
      "2021-06-03T00:00:00.000Z", "timeMode": "FeedbackCreatedTime"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/query?$maxpagesize=20&$skip=20
  response:
    body:
      string: '{"value":[{"feedbackId":"072f6b36-1293-4534-90d4-407c80f24420","createdTime":"2021-06-0[...]
[...]
- request:
    body: '{"metricId": "metric_id", "startTime": "2021-06-01T00:00:00.000Z", "endTime":
      "2021-06-03T00:00:00.000Z", "timeMode": "FeedbackCreatedTime"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/query?$maxpagesize=20&$skip=140
  response:
    body:
      string: '{"value":[{"feedbackId":"68cd9d95-1f9c-4d23-a964-756c337c3a7d","createdTime":"2021-06-02T17:24:23.28Z","userPrincipal":"f850650c-1fcf-4489-b46f-71af2e30d360","metricId":"metric_id","dimensionFilter":{"dimension":{"dimension_name":"Los
        Angeles"}},"feedbackType":"Period","value":{"periodType":"AssignValue","periodValue":2}},{"feedbackId":"13f4c2f3-79ad-4f05-9e4a-77078960907c","createdTime":"2021-06-02T17:24:22.584Z","userPrincipal":"f850650c-1fcf-4489-b46f-71af2e30d360","metricId":"metric_id","dimensionFilter":{"dimension":{"dimension_name":"Los
        Angeles"}},"feedbackType":"Comment","startTime":"2020-08-05T00:00:00Z","endTime":"2020-10-21T00:00:00Z","value":{"commentValue":"comment"}},{"feedbackId":"e169640d-b4dd-43a8-ac8a-2d417c669941","createdTime":"2021-06-02T17:24:22.035Z","userPrincipal":"f850650c-1fcf-4489-b46f-71af2e30d360","metricId":"metric_id","dimensionFilter":{"dimension":{"dimension_name":"Los
        Angeles"}},"feedbackType":"ChangePoint","startTime":"2020-08-05T00:00:00Z","endTime":"2020-10-21T00:00:00Z","value":{"changePointValue":"NotChangePoint"}},{"feedbackId":"7acf112f-6b5c-4e2e-a960-f4d7e807f86c","createdTime":"2021-06-02T17:24:21.539Z","userPrincipal":"f850650c-1fcf-4489-b46f-71af2e30d360","metricId":"metric_id","dimensionFilter":{"dimension":{"dimension_name":"Los
        Angeles"}},"feedbackType":"Anomaly","startTime":"2020-08-05T00:00:00Z","endTime":"2020-10-21T00:00:00Z","value":{"anomalyValue":"NotAnomaly"}},{"feedbackId":"3644996b-d06b-4256-9f3b-9082e305a660","createdTime":"2021-06-02T17:03:21.061Z","userPrinc[...]
[...]
- request:
    body: '{"metricId": "metric_id", "startTime": "2021-06-01T00:00:00.000Z", "endTime":
      "2021-06-03T00:00:00.000Z", "timeMode": "FeedbackCreatedTime"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/query?$maxpagesize=20&$skip=560
  response:
    body:
      string: '{"value":[{"feedbackId":"b630c313-3f86-4e88-a0a0-395e67342ac1","createdTime":"2021-06-01T12:56:47.881Z","userPrincipal":"camaiaor@microsoft.com","metricId":"metric_id","dimensionFilter":{"dimension":{"dimension_name":"Delhi","category":"Handmade"}},"feedbackType":"Anomaly","startTime":"2020-09-26T00:00:00Z","endTime":"2020-09-29T00:00:00Z","value":{"anomalyValue":"AutoDetect"},"anomalyDetectionConfigurationId":"anomaly_detection_configuration_id","anomalyDetectionConfigurationSnapshot":{"anomalyDetectionConfigurationId":"anomaly_detection_configuration_id","name":"Default","description":"This
        description was generated by a sample.","metricId":"metric_id","wholeMetricConfiguration":{"smartDetectionCondition":{"sensitivity":100.0,"anomalyDetectorDirection":"Both","suppressCondition":{"minNumber":1,"minRatio":100.0}}},"dimensionGroupOverrideConfigurations":[],"seriesOverrideConfigurations":[]}},{"feedbackId":"6618240c-abad-494c-a6fa-ce258d8b5747","createdTime":"2021-06-01T12:56:44.641Z","userPrincipal":"camaiaor@microsoft.com","metricId":"metric_id","dimensionFilter":{"dimension":{"dimension_name":"Delhi","category":"Handmade"}},"feedbackType":"Period","value":{"periodType":"AutoDetect","periodValue":10}},{"feedbackId":"ab84a2d5-d7b5-4de6-987c-4e16227c2be5","createdTime":"2021-06-01T12:56:44.263Z","userPrincipal":"camaiaor@microsoft.com","metricId":"metric_id","dimensionFilter":{"[...]
[...]
